<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--レイアウトの読み込み-->
    <link rel="stylesheet" href="../static/css/styleAdmin.css">
    <!--共通のスタイルの読み込み-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!--アイコンの読み込み-->
    <link rel="icon" href="../static/icons/ncc.ico">
    <!--jQueryのCDNの読み込み-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-KyZXEAg3QhqLMpG8r+Knujsl5/5hb7ieXS/dIvPLaw4="
        crossorigin="anonymous"></script>
    <title>管理者画面</title>
</head>
<body>
    <div class="main">
        <div class="menu">
            <div class="select"><!-- 絞り込み  -->
                <p>学生名</p>
                <input type="text">
                <p>学年</p>
                <input type="text">
                <p>学科</p>
                <input type="text">
                <p>
                    <button id="filterButton">絞り込み</button>
                </p>
            </div>
            <button id="download">ダウンロード</button>
            <a href="/logout">ログアウト</a>
        </div>
        <div class="table">
            <!-- 生徒テーブルの表示 -->
            <table>
                <thead>
                    <tr>
                        <th>名前</th>
                        <th>学籍番号</th>
                        <th>学生番号</th>
                        <th>科目</th>
                        <th>出席数</th>
                        <th>欠席数</th>
                    </tr>
                </thead>
                <!--動的に表が作成-->
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>