<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要素の配置の読み込み-->
    <link rel="stylesheet" href="../static/css/layout_index.css">
    <!--背景等の共通部分の読み込み-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!--JSの読み込み-->
    <script src="../static/javascript/index.js"></script>
    <!--アイコンの読み込み-->
    <link rel="icon" href="../static/icons/ncc.ico">
    <title>NCC出席</title>
</head>
<body>
    <div class="header">
        <p id="admin"><a href="/login">教職員用</p>
    </div>
    <div class="main">
        <h1><a href="">出席する</a></h1>
    </div>
</body>
</html>