<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--背景色の読み込み-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!--要素の配置の読み込み-->
    <link rel="stylesheet" href="../static/css/leyout_login.css">
    <!--アイコンの読み込み-->
    <link rel="icon" href="../static/icons/ncc.ico">
    <title>NCC出席</title>
</head>
<body>
    <div class="main">
        <h1>ログイン画面</h1>
        <form method="post" id="admin">
            {{ form.hidden_tag() }}
            <div class="id">
                {{ form.id.label }}{{ for.id() }}
                {% for error in for.id.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="password">
                {{ form.password.label }}{{ form.password() }}
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            {{ for.submit() }}
        </form>
    </div>
</body>
</html>