<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>NCC出席：出席画面</title>
</head>
<body>
    <div class="main">
        <div class="QR">

        </div>
        <div class="attendance">
            <form>
                <p>学籍番号を入力してください</p>
                <input type="text" id="studentID">
                <p>キーワードを入力してください</p>
                <input type="text" id="keyword">
            </form>
        </div>
    </div>
</body>
</html>